*{
font-family: 'Kanit',
    sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
.header{
    background-color: #2B2D42;
    width: 100%;
    height:110px;
    display: flex;
    padding: 1rem;
    align-items: center;
    
}
.header__logo{
    width:230px;
    height:90px;
}
.navbar{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    

}
.navbar__list{
    display: flex;
    justify-content: space-between;
    color: white;
    list-style: none;
}
.navbar__list__item{
    margin: 2rem;
    padding-bottom: 10px;
}
.navbar__list__item:hover{
border-bottom: 2px solid white;
}
.navbar__login{
    height:60px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: azure;
    background-color: transparent;
}
.navbar__login__btn{
    width: 70px;
    height: 60px;
    border: none;
    background-color: transparent;
   
}
.navbar__login__btn-link{
    background-color: transparent;
    color: white;
    font-size: 20px;
    text-decoration: none;

}
.navbar__login__avator-btn {
    width: 30px;
    height: 30px;
    border-radius: 50px;

}
.navbar__login__img{
    width: 30px;
    height: 30px;
    border-radius: 50px;
    
}
.hero__title{
    margin: 2rem;

}
.form__container{
    justify-content: center;
    margin: 0 auto;
    width: 70%;
}
.form{
height: 350px;
width: 100%;
margin: 50px auto;
display: flex;
align-items: center;
justify-content: space-evenly;
background-color: #54586F;
border-radius: 10px;
}
.form-info{
    height: 150px;
    width: 220px;
    display: flex;
    flex-direction: column;
    border: 2px solid rgba(240, 231, 231, 0.8);
    box-shadow: 0px 4px 4px rgba(241, 238, 238, 0.2);
    border-radius: 5px;
    background-color:white;
    
}
.type{
    text-align: center;
    padding: 1rem;
}
.selection{
    width: 100%;
    padding: 1rem;
    
}
select{
    width: 100%;
    border-radius: 7px;
    background-color:#F5ECEB;
}
.submite{
    width: 60px;
    margin: 1rem;
    background-color:white;
    border-radius: 15px;
    border: 2px solid rgba(94, 93, 93, 0.8);
    box-shadow: 0px 4px 4px rgba(190, 187, 187, 0.2);
}
.submite:hover{
    background-color: #84889A;
    color: white;
}
.date{
    width: 100%;
    background-color: #F5ECEB;
}
.section__2{
    height: 700px;
    display: flex;
    width: 100%;
}
.section__2-container{
    width:50%;
}
.section__2__title{
    margin: 1rem;
    

}
.section__card{
    margin: 1rem;
    width: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background-color:#54586F;
    border-radius: 25px;
    border: 2px solid rgba(94, 93, 93, 0.8);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}
.section__card__lsit{
    width:100%;
    display: flex;
    justify-content: space-between;
    color: white;
    list-style: none;
}
.section__card__lsit__item{
    width: 40px;
    margin: 1rem;
    padding-bottom: 10px;

}
.todo_section{
    padding: 1rem;
    width: 50%;
    height: 500px;

}
.todo_body{
    padding: 1rem;
    margin: 1rem;
    color: white;
    background-color: #54586F;
    border-radius: 15px;
    border: 2px solid rgba(94, 93, 93, 0.8);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}
.todo-main{
     display: flex;
     
     justify-content: flex-start;
         /* border: 2px solid rgba(94, 93, 93, 0.8); */
}
.todo-agent{
    width: 220px;
    display: flex;
    flex-direction: column;
    margin: 1rem;
}
.list-container{
    width: 100%;
    margin-top:4.1rem;

}
.todo-input{
width: 50%;
}
.input{
 width: 100%;
 border-radius: 6px;
 border: 1px solid rgb(30, 29, 29);
    box-shadow: 0px 4px 4px rgba(247, 245, 245, 0.2);
    padding: 2px;
}
.input-submit{
    margin-top:18px;
    padding:0 15px;
    background-color:#FFFFFF;
    border-radius: 15px;
    border: 2px solid rgba(94, 93, 93, 0.8);
    box-shadow: 0px 4px 4px rgba(190, 187, 187, 0.2);
}
.input-submit:hover{
 background-color: #84889A;
 color: white;

}
.todo-list-container{
    height: 300px;
    margin: 1rem;
    border: 2px solid rgba(94, 93, 93, 0.8);
    display: flex;
    justify-content: space-around;
    background-color: #F5ECEB;

}
.todo-name{
    margin: 1rem;
    font-size: 16px;
    font-weight: 900;

}
.todo-list{
    list-style: none;
    border-radius: 15px;
    text-align: center;
}
@keyframes example {
  from {background-color: yellow;}
  to {background-color: rgb(163, 167, 170);}
}
    
.new-item {
margin: 1rem;
    border: 2px solid rgba(94, 93, 93, 0.8);
    box-shadow: 0px 4px 4px rgba(190, 187, 187, 0.2);
    background-color: #54586F;
    border-radius: 25px;
    color: white;
  animation-name: example;
  animation-duration: 2s;
}
.todo-list-item{
    padding: 1rem;
}
.footer{
    display: flex;
    height:110px;
    justify-content: space-around;
    align-items: center;
    background-color: #2B2D42;
    padding: 1rem;
}
.footer__tittle{
    font-size: 20px;
    margin: 1rem;
    color: white;
}
.footer__address{
    color: white;
}
.footer__address__email{
    color: white;
}
.footer__address__phone{
    color: white;
}

.footer__social__icon{
    width: 150px;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-around;
}
