.hero-section{
    height: 400px;
    position: relative;
}

.home-img{
    width:100%;
    height:90%

}
.home{
    position: absolute;
    top: 261px;
    right: 374px;
    background-color:t;
    color: white;
    font-size: 30px;
    font-weight: 900;
}
