@font-face {
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/kumbhsans/v10/c4mw1n92AsfhuCq6tVsaoIx1CHIi4kToNoq0ShNBVo0iPw.woff2) format('woff2');
}
$ff-kumbh: "Kumbh Sans", sans-serif;